In [1]:
import pandas as pd

df = pd.read_csv("data/survey_results_public.csv")

In [14]:
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="Column")

In [2]:
df["ConvertedComp"].head(15)

0          NaN
1          NaN
2       8820.0
3      61000.0
4          NaN
5     366420.0
6          NaN
7          NaN
8      95179.0
9      13293.0
10         NaN
11         NaN
12     90000.0
13     57060.0
14         NaN
Name: ConvertedComp, dtype: float64

In [5]:
df["ConvertedComp"].median()

57287.0

In [7]:
df.median(numeric_only=True)

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [8]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

# Grouping Data

In [10]:
print(df["Hobbyist"].value_counts())

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [18]:
schema_df.loc["SocialMedia"]

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [11]:
df["SocialMedia"].value_counts(normalize=True)

SocialMedia
Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: proportion, dtype: float64

# groupby Method

In [19]:
df["Country"].value_counts()

Country
United States        20949
India                 9061
Germany               5866
United Kingdom        5737
Canada                3395
                     ...
Tonga                    1
Timor-Leste              1
North Korea              1
Brunei Darussalam        1
Chad                     1
Name: count, Length: 179, dtype: int64

In [22]:
country_grp = df.groupby(["Country"])
# country_grp is a groupby object
# we can use the groupby object to perform operations on the groups
# for example, we can get the median salary for each country
# country_grp["ConvertedComp"].median()
# countrt_grp['col_name] means we are getting the column from the groupby object
# that is, we are getting the column from the dataframe that is grouped by the country
# it is basically a aggregate column of all grouped countries

In [25]:
country_grp.get_group("United States").head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy

In [26]:
filt = df["Country"] == "India"
df.loc[filt]["SocialMedia"].value_counts()

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: count, dtype: int64

In [27]:
country_grp["SocialMedia"].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             LinkedIn                     2
             Instagram                    2
             Reddit                       1
Name: count, Length: 1220, dtype: int64

In [28]:
country_grp["SocialMedia"].value_counts().loc["India"]

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: count, dtype: int64

In [31]:
country_grp["ConvertedComp"].median()

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [32]:
country_grp["ConvertedComp"].agg(["median", "mean"])
# we can use the agg method to apply multiple aggregate functions to the groupby object

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

FINDING NO OF PYTHON DEVS IN INDIA

In [40]:
filt = df["Country"] == "India"
df[filt]["LanguageWorkedWith"].str.contains("Python").sum()

3105

In [44]:
country_df = country_grp["LanguageWorkedWith"].apply(
    lambda x: x.str.contains("Python").sum() / len(x) * 100
)
# x is the series of each country
country_df

Country
Afghanistan                             18.181818
Albania                                 26.744186
Algeria                                 29.850746
Andorra                                  0.000000
Angola                                  40.000000
                                          ...
Venezuela, Bolivarian Republic of...    31.818182
Viet Nam                                33.766234
Yemen                                   15.789474
Zambia                                  33.333333
Zimbabwe                                35.897436
Name: LanguageWorkedWith, Length: 179, dtype: float64

In [47]:
country_respondents = df["Country"].value_counts()

python_df = pd.concat([country_respondents, country_df], axis="columns", sort=False)
python_df.rename(columns={"LanguageWorkedWith": "PctKnowsPython"}, inplace=True)
python_df.sort_index(inplace=True)
python_df

                                      count  PctKnowsPython
Country
Afghanistan                              44       18.181818
Albania                                  86       26.744186
Algeria                                 134       29.850746
Andorra                                   7        0.000000
Angola                                    5       40.000000
...                                     ...             ...
Venezuela, Bolivarian Republic of...     88       31.818182
Viet Nam                                231       33.766234
Yemen                                    19       15.789474
Zambia                                   12       33.333333
Zimbabwe                                 39       35.897436

[179 rows x 2 columns]