In [1]:
import pandas as pd

df = pd.read_csv("Data/survey_results_public.csv")

In [14]:
filt = (df["Age"] == 22) & (df["Country"] == "United States") | (
    df["Country"] == "India"
)
# This will return a boolean (Series) of True and False

In [15]:
df[filt][["Age", "Country"]]
# use tilde ~ to negate the filter

        Age        Country
3      22.0  United States
7      24.0          India
9       NaN          India
14     20.0          India
22     22.0  United States
...     ...            ...
88808   NaN          India
88825   NaN          India
88852  24.0          India
88853   NaN          India
88864  24.0          India

[9666 rows x 2 columns]

In [16]:
high_salary = df["ConvertedComp"] > 70000
df.loc[high_salary, ["Country", "LanguageWorkedWith", "ConvertedComp"]]

,Country,LanguageWorkedWith,ConvertedComp
5,Canada,Java;R;SQL,366420.0
8,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
12,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
15,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
21,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88323,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88324,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88325,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88326,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88329,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [23]:
countries = ["United States", "India", "United Kingdom", "Germany", "Canada"]
filt = df["Country"].isin(countries)

df.loc[filt, "Country"].value_counts()

Country
United States     20949
India              9061
Germany            5866
United Kingdom     5737
Canada             3395
Name: count, dtype: int64

* STR METHODS FOR FILTERING

In [26]:
filt = df["LanguageWorkedWith"].str.contains("Python", na=False)
df.loc[filt, "LanguageWorkedWith"]

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
7        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
88854    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
88860      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
88865      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
88872             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88876                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object