In [4]:
import pandas as pd

people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"],
}

In [5]:
df = pd.DataFrame(people)  # Create a DataFrame from a dictionary

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [6]:
df["email"]  # this is a Series or a column of the DataFrame
# or df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JohnDoe@gmail.com
Name: email, dtype: object

In [9]:
# Access multiple columns - provide a list of column names
df[["last", "email"]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JohnDoe@gmail.com

In [10]:
print(df.columns)  # Index(['first', 'last', 'email'], dtype='object')

Index(['first', 'last', 'email'], dtype='object')

In [14]:
# Access a row by index - use iloc
# iloc is short for integer location
# syntax: df.iloc[row_index] or df.iloc[[row_index1, row_index2, ...]]
print(
    df.iloc[0], end="\n-----------------------------------------------------\n"
)  # iloc[0] is the first row
print(df.iloc[[0, 1]])  # iloc[[0, 1]] is the first and second row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object
-----------------------------------------------------
   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [15]:
# Access a row by indexs and column names
# syntax: iloc[[row_index], [column_index]]
print(df.iloc[[0, 1], [0, 1]])

   first     last
0  Corey  Schafer
1   Jane      Doe

In [19]:
# loc is used to access rows by index labels
# syntax: df.loc[row_index_label] or
# df.loc[[row_index_label1, row_index_label2, ...]]
# df.loc[[row_index_label], [column_name]]
# df.loc[[row_index_label1, row_index_label2, ...], [column_name1, column_name2, ...]]

df.loc[[0, 1], ["first", "email"]]

   first                    email
0  Corey  CoreyMSchafer@gmail.com
1   Jane        JaneDoe@gmail.com

In [20]:
df = pd.read_csv("data/survey_results_public.csv")
df.iloc[[1, 2, 5], [0, 2]]

   Respondent Hobbyist
1           2       No
2           3      Yes
5           6      Yes

In [21]:
df["Hobbyist"].iloc[[0, 1, 2]]  # Access the Hobbyist column for the first 3 rows

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [22]:
df["Hobbyist"].value_counts()
# Count the number of unique values in the Hobbyist column

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [23]:
df.loc[0:5, "Hobbyist"]

0    Yes
1     No
2    Yes
3     No
4    Yes
5    Yes
Name: Hobbyist, dtype: object

In [24]:
df.loc[
    0:5, "Hobbyist":"Employment"
]  # Access the Hobbyist till the  Employment columns for the first 6 rows]

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time
3,No,Never,The quality of OSS and closed source software ...,Employed full-time
4,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time
5,Yes,Never,The quality of OSS and closed source software ...,Employed full-time